@import "./bootstrap/scss/bootstrap.scss";








#profile_using {
    margin-bottom: 0;
}

.nav-link:hover {
    color: crimson;
    transform: scale(1.05);
    background-color: rgba(211, 211, 211, 0.267);
    border-radius: 10px;
    transition: all .6s;
    z-index: 1;
}

.carousel-control-prev {
    left: -30px;
    justify-content: start;
}

.carousel-control-next {
    right: -30px;
    justify-content: end;
}




footer {

    #btn-footer {


        & div {

            & div {
                border: none;

                &:hover {
                    /* border: 1px solid scale-color($color: white, $lightness: -60%); */
                    background-color: scale-color($color: $dark, $lightness: 10%);
                    transition: background-color .25s;
                }
            }
        }
    }

    @media screen and (max-width: 766px) {

        #i-footer {

            display: flex;
            justify-content: center;
            gap: 25px;
        }

        #btn-footer {


            & div {

                display: flex;
                justify-content: center;
                gap: 0.5rem;

                padding-block: 0.7rem;
                border-bottom: 1px solid grey;



                & div {
                    justify-content: space-around;
                    width: 200px;
                }
            }
        }
    }
}







/* profile.html */



#profile-edit {






    div .dropdown {


        a {

            background-color: black;
            border: 2px solid $light;
            color: $light;


        }

        ul {
            li {
                a {
                    border: none;

                    &:hover {
                        background-color: scale-color($color: $dark, $lightness: 10%);
                    }
                }
            }
        }
    }




    /* div .col-9 {

        display: none;

    } */






}



#btn-footer {

    @media  screen and (max-width: 766px) {

        & .d-flex {
            margin: auto;
            flex-direction: column;
            width: 200px;
        }
        
    }

    @media  screen and (max-width: 1233px) {

        .btn {

            padding: 10px;
        }
        
    }

    @media  screen and (max-width: 927px) {

        .btn {
            padding-inline: 5px;
        }
        
    }


    
    button {
        color: scale-color($color: $secondary, $lightness: 35%);
        padding-inline: 2rem;

        
        &:hover {
            color: black;
            background-color: white;
        }
    }
}


#profile-name {

    background-color: scale-color($color: $secondary, $lightness: -20%);

    &::placeholder {
        color: $light;
    }

    p {
        margin-bottom: 0.3rem;
    }
}